.formation-card {
    border: 0.125rem solid #00693E;
    border-radius: 0.5rem;
    padding: 0.5rem;
    /* min-width: 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.cupCount p {
    margin: 0.125rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
}

.bottom-border {
    border-bottom: 0.125rem solid black
}

/* .formation-card img:active {
    background-color: black;
    border-radius: 0.25rem;
} */