.player-card {
  border: 0.125rem solid #00693E;
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}

.one {
  justify-content: flex-start;
}

.two {
  justify-content: flex-end;
}

label {
  font-weight: bold;
}

.player-stat-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.player-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-stat button {
  background-color: #006B40;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.25rem;
}

.player-name {
  display: flex;
  justify-content: flex-start;
}

.player-name button {
  background-color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  margin: 0px 0.25rem;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5;
}