.App {
  text-align: center;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: 022E1C;
  min-width: 100vw;
}

.App-header {
  min-height: 0.25vh;
}

.App-main {
  min-height: 0.50vh;
}